[Desktop Entry]
Exec=xdotool key ctrl+p
Icon=/usr/share/pixmaps/button-print.png
Type=Application
Categories=System;
Name=Print
MimeType=text/html;
StartupNotify=true
